[2013-11-17 17:47] thibauts opened #1 "Can't set connect and read timeout before connection is fully established to endpoint"
With the current implementation I can't get hold of the socket and set a timeout before the proxy connection to the final endpoint has succeeded.

The following code doesn't work because the 'socket' event is emitted too late

[code]

This doesn't work either as node's http client propagates the request's setTimeout either after 'connect' or after 'socket' depending on the situation

[code]

[2014-12-05 17:09] mrgiba opened #4 "Need support to additional HTTP headers on opening connection to proxy"
The Secure Proxy I connect to requires a <b>Proxy-Authentication</b> header whose value does not follow the <b>Basic &lt;Base 64 value&gt;</b> format.

In order to address my current issue and also to give more flexibility in the HTTP connect request, I already have a patch that adds support to additional headers (described as a <b>headers</b> object inside the opts passed to the HttpProxyAgent)

[2015-01-21 13:09] mrgiba commented on #4
Hi. Did you have a chance to look at my patch ? If that goes well, I'll start using the library in the product I work on - and be glad to give more contributions

Thanks

[2015-02-26 13:38] r0b5t4 opened #6 "Error: connect EINVAL"
Somehow I can not get it to work. Wget can fetch the page through the https proxy. Any advice would be greatly appreciated. Below is the console output. Many thanks.

[code]

[2015-05-21 09:12] timrwilliams opened #7 "Incorrectly routing HTTPS requests to port 80 on node 0.12+"
Raised from a question on [Stack Overflow](
http://stackoverflow.com/questions/30361039/eproto-error-when-trying-to-make-a-proxied-https-request-with-node-js-0-12?stw=2) there seems to have been some change in Node 0.12 that is causing the incorrect port to be sent on HTTP CONNECT requests.

I've pinned it down to the fact that the *opts* being passed in to the connect method has the port set to 8

[2015-05-21 17:09] TooTallNate commented on #7
Do you have a simple test script that works on v0.10 and fails on v0.12?

[2015-05-21 17:34] aisipos commented on #7
I tried the code from the SO [question](http://stackoverflow.com/questions/30361039/eproto-error-when-trying-to-make-a-proxied-https-request-with-node-js-0-12?stw=2) linked above

[code]

Note: It will need a proxy server that in the env var QUOTAGUARDSTATIC_URL. It'll need a non-standard port - the one I'm using is on 9293.

Interestingly, the above script fails for me to connect to https://www.g

[2015-05-21 18:13] aisipos commented on #7
Actually this code:

[code]

works for me in node 0.10.38, but not in 0.12.3  (I use `n` to switch node versions), giving the error:
`Error: write EPROTO 140735203734288:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:782:`

 I used a QuotaGuard proxy server as above, specified as an http url on port 9293.

my package.json is just:
[code]

[2015-05-21 18:34] aisipos commented on #7
Of note: quotaguard static proxies require authentication, so the url I used in the above examples has a username and password as part of it - hence the reason I haven't been pasting them here. I don't know if this is contributing to the issue, but I'm mentioning it just in case.

[2015-05-21 19:06] TooTallNate commented on #7
I doubt the http authentication is related. Still looking into this.

[2015-05-22 07:53] timrwilliams commented on #7
Yeah if you swap in an unauthenticated proxy you get the same issue. You can usually get proxies to test with from http://proxylist.hidemyass.com/search-1297445#listable

I just tested with:
 "http://185.12.7.74:8080";

[2015-06-23 19:52] josephpage opened #8 "A fresh release ?"
Could you please release a new version (0.3.6) to make available dependencies updates. (debug and mocha)

[2015-07-08 10:54] vvo commented on #7
I can confirm this exact behavior (0.10 works, 0.12 works) and the patch from @timrwilliams works accordingly.

Reproducible test case, using [TooTallNate/node-proxy-agent](https://github.com/TooTallNate/node-proxy-agent) and [TooTallNate/proxy](https://github.com/TooTallNate/proxy):

test.js
[code]

[code]

"Funny" thing being that I get the exact same behavior when using [mikeal/tunnel-agent](ht

[2015-07-14 18:02] reedrosenbluth commented on #7
Any update on this?

[2015-07-14 18:10] TooTallNate commented on #7
Can you guys please try out v1.0.0? Before, you would have to specify `secureEndpoint: true` as an option when doing HTTPS requests (this wasn't documented correctly). But now that should no longer be necessary. Please let me know if 1.0.0 changes anything.

[2015-07-14 19:05] TooTallNate commented on #7
Note that I'm still working on getting `node-proxy-agent` and `superagent-proxy` updated to use these new versions.

[2015-07-14 20:46] reedrosenbluth commented on #7
I've been trying to get this working with `superagent-proxy`. I just updated to v1.0.0 and it still isn't working.

[2015-07-14 21:13] TooTallNate commented on #7
Like I said, I'm still working on getting node-proxy-agent and superagent-proxy updated to use these new versions...

[2015-07-14 21:14] reedrosenbluth commented on #7
Ah ok, I thought it was just a matter of updating the npm module within superagent

[2015-07-15 04:09] TooTallNate commented on #8
v1.0.0 has been released. Cheers!

[2015-07-15 04:09] #8 closed

[2015-07-15 04:10] TooTallNate commented on #6
I need some repro code here. Also, can you try out v1.0.0 and let me know if that makes things any easier or not? Cheers!

[2015-07-15 08:09] r0b5t4 commented on #6
Got to admit my proxy address was bad, iirc the protocol (http://) was missing. Unfortunately the error only showed itself down in native code as per above.

Works a treat now, thanks. Feel free to close or use as request for better checking of the proxy address.

[2015-07-15 22:53] TooTallNate commented on #7
superagent-proxy v1.0.0 has been published. Please let me know if that fixes the issue for you guys.

[2015-07-15 23:10] #6 closed

[2015-07-15 23:44] TooTallNate commented on #4
Fixed in f2b10805e3385a47c78c69ccbf146b99ad5e4437.

[2015-07-15 23:44] #4 closed

[2015-07-16 00:54] reedrosenbluth commented on #7
Still doesn't seem to be working for me...

I'm getting this error: `Error: write EPROTO 140735174234880:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:782`

[2015-07-16 03:50] TooTallNate commented on #7
You updated to the new superagent-proxy?

On Wednesday, July 15, 2015, Reed Rosenbluth <notifications@github.com>
wrote:

[2015-07-16 03:51] TooTallNate commented on #7
Also I could use some repro code

On Wednesday, July 15, 2015, Nathan Rajlich <nathan@tootallnate.net> wrote:

[2015-07-16 17:48] reedrosenbluth commented on #7
Yes I updated to the new superagent-proxy.

Some code:

[code]

[2015-07-16 18:35] TooTallNate commented on #7
@reedrosenbluth Is your proxy server _really_ running over TLS? The default squid proxy behavior for port 3128 is to be plain-text (i.e. change the "https" to "http" in your proxy URI).

[2015-07-17 20:49] reedrosenbluth commented on #7
Ah I think that's probably the issue. Won't be able to test until Monday, but I'll keep you updated. Thanks for the help!

[2015-08-14 19:32] jfahrenkrug commented on #7
@TooTallNate You are a gentleman and a scholar.

[2015-08-14 20:26] #7 closed

[2015-09-10 17:13] vhpoet opened #9 "Update the node-agent-base version"
I need [this commit](https://github.com/TooTallNate/node-agent-base/commit/777b3502a5eb4c1906000cccf5ac2bf6d1c891e4) to be able to use `https-proxy-agent` in webpack.

[2015-09-10 19:02] TooTallNate commented on #9
Released agent-base v2.0.1 with that commit, so doing a fresh `npm install https-proxy-agent` should pick up that new version. Cheers!

[2015-09-10 19:02] #9 closed

[2015-09-10 22:54] vhpoet commented on #9
@TooTallNate Thank you!!!

[2016-01-27 12:24] pgmreddy commented on #7
just fyi

below worked correct:
1. https module
2. 443 port     (issue occurred since i have overwritten with 80.    80 is for http, and 443 is for https)

[2016-01-29 13:17] Petterholm opened #10 "Bug"
https://github.com/TooTallNate/node-https-proxy-agent/issues

[2016-02-18 03:59] smartmouse commented on #7
Error: 140314894481216:error:140770FC:SSL routines:SSL23_GET_SERVER_HELLO:unknown protocol:../deps/openssl/openssl/ssl/s23_clnt.c:782:
I am getting same error, I tried node 0.10.x  node 0.12.x and node 4.x.

I am running other people's code though.

[2016-02-18 04:29] TooTallNate commented on #7
@smartmouse Can you make a new issue with some sample code please?

[2016-02-18 06:46] #10 closed

[2016-02-29 20:12] dvonlehman opened #11 "Possible to pass https.Agent options"
I've been using https-proxy-agent with great success to make aws-sdk calls through a corporate proxy like so:

[code]

However there is [known node issue](https://github.com/aws/aws-sdk-js/issues/862) connecting to DynamoDB that requires setting the agent like so:

[code]

I don't see how to pass `keepAlive`, `secureProtocol`, and `ciphers` to the https-proxy-agent.

[2016-02-29 20:23] TooTallNate commented on #11
Try doing:

[code]

[2016-02-29 22:38] dvonlehman commented on #11
Thanks Nate for the quick response. That appears to be doing the trick. I've incorporated it into my little helper module: https://www.npmjs.com/package/aws-config

[2016-02-29 22:38] #11 closed

[2016-05-01 14:37] agarioBotDev opened #12 "Proxy authentication (username, password)"
Hello,

Is the proxy authentication implemented ? Cannot find it, e.g.a proxy requires username and password else status 407 will be returned...

I would be appreciated for any help,
David

[2016-05-02 03:19] TooTallNate commented on #12
Do _one_ of these:

### In the URI

[code]

### Set the `auth` option

[code]

### Set the HTTP header manually

[code]

[2016-05-03 18:30] agarioBotDev commented on #12
thanks !

[2016-05-03 18:30] #12 closed

[2016-05-05 17:38] oskiwowwow opened #13 "The option for connecting with TLS should be "protocol""
README.md says to set secureProxy to true if you want to connect to the proxy with TLS. I think it should be "protocol: 'https'" instead. secureProxy seems to be an internal variable which is set based on the value of "protocol", not the other way around.

[2016-05-05 18:04] TooTallNate commented on #13
Good catch! Patch to fix the documentation welcome

[2016-05-31 18:37] unni1 commented on #11
Sorry for this newbie question. I googled a lot, but couldn't find an answer, may be I was not using the right keywords.

I also was facing the same issue and AWS support advised us to use https.agent. But I ran into some trouble with the company proxy. Finally, with pac-proxy-agent, I could get it to work with the below code sample:

[code]

I don't see any errors in the node.js log, but I am not

[2016-06-24 05:48] xiaoshimimi opened #14 "Need to support SNI"
While I'm using https-proxy-agent to send request, if the request option set servername (which might not the same as host) https-proxy-agent will ignore my servername, this will cause the certificate error.

[code]

Could you please change this part to:
`opts.servername = opts.servername?opts.servername:opts.host;`
so that it can support SNI?

[2016-06-27 18:07] raDiesle opened #16 "ERR_UNEXPECTED_PROXY_AUTH in chrome"
I am using it in combination with http-proxy-middleware
but getting ERR_UNEXPECTED_PROXY_AUTH in crhome network console.

any idea how to fix it? I tried multiple variations.

[2016-06-27 18:11] TooTallNate commented on #16
You're trying to use this module in Chrome? I'm not sure I understand. This module implements the `http.Agent` interface for usage with Node.js' `http.Client` http request interface.

[2016-06-27 18:13] raDiesle commented on #16
browser sync provides me the webserver, which I open an index.html in browser.
in index.html, AJAX calls are done, which I like to proxy on the webserver,
because server-side disable of cors is a security problem, but needed for development.

[2016-06-27 18:15] TooTallNate commented on #16
You're gonna have to show me some example code because I'm still not following.

[2016-06-28 06:36] raDiesle commented on #16
here is the full code:

gulp.task(CONFIG.GULP.DEV_WEBSERVER, function () {
        plugins.browserSync = plugins.browserSync || require(CONFIG.GULP.BROWSER_SYNC);
		plugins.HttpsProxyAgent = require('https-proxy-agent');
		plugins.proxy = plugins.proxy || require("http-proxy-middleware");

		var jsonPlaceholderProxy = plugins.proxy(
			"/etc",

			{
				target : "https://int-dev.cz",
				agent: ne

[2016-06-30 14:09] Chenmingwang opened #17 "socket connection event is not emitted"
When the connection of client---proxy---server is established successfully,  socket connection event is not emitted.

I should register callback on this connection event. But the event can not be triggered.
However, node-http-proxy-agent is OK for connection event.

[2016-06-30 16:22] TooTallNate commented on #17
Do you have some example code?

[2016-07-01 02:26] Chenmingwang commented on #17
var url = require('url');
var https = require('https');
var HttpsProxyAgent = require('https-proxy-agent');

var proxy = 'http://10.64.79.141:3128';
console.log('using proxy server %j', proxy);

//var endpoint = 'https://www.tmall.com';
var endpoint = 'https://10.64.79.121/restaurants'
console.log('attempting to GET %j', endpoint);
var opts = url.parse(endpoint);

var agent = new HttpsProxyAgent(p

[2016-09-01 19:06] julianduque opened #18 "Keep-Alive Support"
There is plans to add Keep-Alive support to this agent? or do you know any tunneled proxy implementation with keep-alive / persistent connection support?

[2017-01-24 21:44] gajus opened #22 "Do not include the port number in the Host"
https://github.com/TooTallNate/node-https-proxy-agent/blob/6bbbef774527c8bdb5bf013d9ecc545ceaa7c974/https-proxy-agent.js#L192

This is making requests against multiple websites fail, e.g.

[code]

[2017-01-24 21:57] TooTallNate commented on #22
Patch welcome! Note that the port should only be omitted for default port 80 for HTTP and 443 for HTTPS URLs. Any other port is expected to be included in the `Host` header.

[2017-03-12 17:11] darkrole opened #23 "Can i use it for streaming m3u8 files?"
Can i use it for streaming m3u8 files?

[2017-03-27 20:38] 0xgeert opened #26 "BUG? Unhandled "socket hang up" crashes node process (incl. async stacktrace)"
Using [longjohn](https://github.com/mattinsler/longjohn) I was able to get the async stacktrace of an unhandled "socket hang up" error which results in killing the node process.

It's unhandled in that the error isn't exposed to the `superagent.end(function(err,res)`, and also not on `superagent.on("error", handleFN)`.

Here's the longjohn stacktrace:

[code]

[2017-04-07 10:12] abidon opened #27 "Add a typescript definition file"
Using this library in typescript is impossible (with noImplicitAny option enabled) as there is no definition file.

Would you mind adding one ?

[2017-04-17 19:06] gvuyk opened #28 "throw new Error('should not happen...') its happening :("
The closest I've been to reproduce this is by overloading a proxy with requests, at some point the proxy just closes the connection and the app crashes with `Error: should not happen...`

[2017-05-11 11:31] telkomops opened #29 "How can i set http.Agent , keepalive property"
How can i set the original keepalive option to true when settings the agent to instance of http.
`var HttpsProxyAgent = require('https-proxy-agent');
this.agent = new HttpsProxyAgent("http://example.proxy.com");`
however i want to set the original option of  `http.Agent({ keepAlive: true });` is there a way to accomplish this. what is the default keepalive behavior when using the proxy

[2017-06-03 00:16] jstaelens opened #31 "latest packages"
Please rebuild and publish to npm.  The latest version of "debug" has a security fix for its dependency "ms".

[2017-06-03 06:14] TooTallNate commented on #29
It's not implemented at the moment. I believe it's something that could be implemented in a nice generic way in the base module [`agent-base`](https://github.com/TooTallNate/node-agent-base).

Also see https://github.com/TooTallNate/node-agent-base/issues/5.

[2017-06-27 17:29] TooTallNate commented on #31
Please check v2.0.0

[2017-06-27 17:29] #31 closed

[2017-06-27 17:31] #23 closed

[2017-06-27 17:32] TooTallNate commented on #18
Hey @julianduque. Keep-Alive is not implemented at this time. The plan is to [implement it in `agent-base`](https://github.com/TooTallNate/node-agent-base/issues/5), but haven't gotten around to it yet.

[2017-06-27 19:03] #14 closed

[2017-06-27 23:31] TooTallNate commented on #29
Closing since this is a duplicate of #18.

[2017-06-27 23:31] #29 closed

[2017-06-30 03:57] julianduque commented on #18
Thanks @TooTallNate ! we can close it here too to avoid duplicates!

[2017-07-11 00:37] #22 closed

[2017-07-12 05:18] #13 closed

[2017-08-18 05:45] Diablohu commented on #28
![image](https://user-images.githubusercontent.com/1946774/29445812-544ef4a8-841b-11e7-937e-cc1c7a480c1f.png)

Same here :(

Windows 10
Node.js v7.8.0
NPM v5.3.0

[2017-09-28 06:36] razbomi opened #33 "Http headers"
Hey mate,

I noticed that when using the agent, if I have added header to the request they are not showing up in the webserver access logs. If I am reading the code correctly headers from the original request are not merged with the proxied request. Or am I doing something wrong???

If it is the case that headers from the original request should be merged in ... I'm happy to raise a pull request.

[2017-10-13 07:28] xxx-xyy commented on #28
me too

[2017-10-20 20:44] robertbullen opened #35 "Options passed into HttpsProxyAgent() constructor aren't propagated to tls.connect() when switching to the TLS handshake"
The options that are passed in to the constructor at index.js:25 (and eventually assigned to `this.proxy`) are not propagated to the call to `tls.connect()` at index.js:153. This means that attempting to alter TLS behavior from the default with a statement like `new HttpsProxyAgent({ rejectUnauthorized: false })` doesn't work.

I suggest a fix something like this:

[code]

[2017-10-30 11:36] okv commented on #12
Hi, there.
It would be nice to see that at readme page)

[2017-10-30 12:49] Lilipi opened #36 ""undefined is not a function" => Object.assign"
When using https-proxy-agent in my context, I had this error :

After some research, I found that I had to add a new dependency to my module in order to work because Object.assign wasn't supported.

I add the module babel-polyfill and load it (`require("babel-polyfill");`) at the very beginning of my module using https-proxy-agent and it works.

I think adding this dependancy directly in your modu

[2017-10-30 16:59] TooTallNate commented on #36
Sorry, you need to be using Node.js v4 or newer for this module.

[2017-10-30 16:59] #36 closed

[2017-11-01 23:35] knoxcard opened #37 "Outdated version of debug - Snyk"
Need to upgrade to the latest version of debug
https://github.com/visionmedia/debug/releases/

✗ Low severity vulnerability found on debug@2.6.8
- desc: Regular Expression Denial of Service (ReDoS)
- info: https://snyk.io/vuln/npm:debug:20170905
- from: node_services@1.0.0 > npm@5.5.1 > pacote@6.0.2 > make-fetch-happen@2.5.0 > https-proxy-agent@2.1.0 > debug@2.6.8
Your dependencies are out of date

[2017-11-06 23:46] knoxcard commented on #37
Pull requests already submitted :-)

[2017-11-06 23:46] #37 closed

[2017-11-17 08:41] sorezzz opened #39 "old debug version ddos vulnerability"
[code]

[2017-11-18 08:46] sorezzz commented on #39
bah. nvm. npm hasnt updated

[2017-11-28 16:59] chilltemp commented on #39
See also #37

[2017-11-28 18:40] TooTallNate commented on #39
2.1.1 has been published. Sorry for the delay.

[2017-11-28 18:40] #39 closed

[2017-11-28 19:07] TooTallNate commented on #33
Can you show some example code please?

[2017-11-28 19:07] TooTallNate commented on #37
2.1.1 has been released.

[2017-11-29 08:10] razbomi commented on #33
Ok some context ... I am constantly pained with a corporate proxy thing. We have a bunch of angular thingies so angular-cli is the flavour of the month here. Hence I am running `ng serve --proxy-config proxy.conf.js`. The code in `proxy.conf.js` is something along these lines.
[code]
Now admittedly I haven't investigated properly what the angular cli thingie is actually doing with agent.

[2018-01-02 16:18] rpmansion opened #40 "changing proxy tartget url based on the locale"
I'm working on an app that has different servers per country and I want to target this by changing the proxy target URL based on the locale. For instance, for US-based users, I'm targeting the below.

[code]

For AU-based users, I'm targeting the below.

[code]

How do I do this by only changing the target to different URL based on locale?

[2018-01-11 10:57] ztiandan opened #41 "could i use localAddress on ws?"
I set 10.255.210.86 in code, but it seems not working, still use prev ip 10.255.210.84.

Node: 8.9.4 ws: 3.3.3  https-proxy-agent: 2.1.1
System config
[code]

my code can work, when i did not add localAddress parmas
[code]
[code]
[code]
10.255.210.84 be used?
Agent (HttpsProxyAgent) be used for this websocket, is it problem?

[2018-01-25 15:56] wizdata opened #42 "Exclude test folder in package.json"
Please exclude test folder

[2018-02-22 10:24] axe312ger commented on #12
Yes please, add this to the readme/docs

@TooTallNate :)

[2018-03-01 23:38] ijabit opened #44 "Support Windows Integrated Credentials with NTLM Proxy"
Git and NPM support this syntax: http://:@proxyserver:80
Instead of supplying a username:password before the @ symbol the username and password is left blank. This is great because obviously you don't want your real username and password in plain text in an npmrc file or environment variable. Is there any way to support that using this library?

[2018-03-09 04:10] bigsan commented on #22
This didn't solve the problem, the reason is explained in #43

[2018-04-12 18:28] Alster commented on #28
I confirm this. It definitely happens. 😄

Windows 10
Node.js v7.10.0
NPM v5.8.0
https-proxy-agent v2.2.1

[2018-05-01 16:15] ranouf opened #47 "Deploy on Azure failed"
Hi,

I have a problem when I deploy my angular app with your package:

[code]

The problem is due to Azure who have issue to rename long path, Is there a way on your side to help me to fix this issue?

Probably not, but I tried so many different solutions which didnt work that now, I try other possibilities.

Thanks

[2018-05-15 20:13] yonilerner commented on #27
FWIW, I just created an `https-proxy-agent.d.ts` file in my project with:
[code]

And I use
[code]

[2018-05-16 20:06] a-x- opened #48 "Can I use it with socks5?"

[2018-06-05 05:27] DuBistKomisch commented on #12
:+1: worth mentioning, assumed the options listed would be exhaustive, so had to come digging here to confirm auth works.

[2018-06-13 06:00] c0debreaker opened #49 "conditional proxy-servers"
Is it possible to setup https-proxy-agent so that it can use different proxy servers based on url path request?

For example:

If url path request is `/app/microsoft`, the proxy to use is `proxy-1.example.com`
If url path request is `/app/linux`, the proxy to use is `proxy-2.example.com`

[2018-06-14 18:32] c0debreaker commented on #49
I had a solution that is 95% working.

[2018-06-14 18:32] #49 closed

[2018-06-26 01:00] saltfish666 commented on #48
I think the author should add a license to this repo but not write only in package.json.

[2018-06-26 02:22] TooTallNate commented on #48
You probably want https://github.com/TooTallNate/node-proxy-agent

[2018-06-26 02:22] #48 closed

[2018-07-08 20:14] a-x- commented on #48
I end up done with [socks5-https-client](https://github.com/mattcg/socks5-https-client)

[2018-07-09 12:19] PaykomanVll opened #51 "Confused to use proxy-agent"
Hello,

sorry for my bad english... I have build  a ws-server for my website (run over apache/nginx), now i need a way to accept clients (website users) that use an proxy. I think your proxy-agent is the solution, or?
Unfortunately, I can not get it started.

[code]

* `process.env.http_proxy`, is always undefined. why?
* What for ip/port i must set (i know not the port of nginx)?
* Why `http://`?

[2018-07-10 18:24] RodolfoGS opened #52 "Error event is not emitted"
I have an error with a proxy (**186.121.206.234:1080**). This proxy doesn't work, I know, but when I use them with the agent I can't receive any error event. The script only terminate without any error or event.

I extracted the problem in a simple code. I'm using 2.2.1 version of the agent.

[code]

And this is a response when I use with the debug flag: `DEBUG=* node app.js`

[code]

[2018-07-10 21:10] RodolfoGS opened #53 "Timeout doesn't work with node-fetch"
Hi, I have this simple code and the timeout doesn't work with `node-fetch` library.
I'm trying to use this proxy `192.40.242.55:53281` (doesn't work, I know) and the timeout doesn't work.

[code]

My response using the debug flag: `DEBUG=* node app.js`:
[code]

The request took 48375 milliseconds instead of 5000 of my timeout.
I tested the above code with the `http-proxy-agent` library and works p

[2018-07-10 22:16] #42 closed

[2018-07-17 13:07] acecilia commented on #27
@yonilerner are you planning to make a new release with this change anytime soon?

[2018-10-04 14:40] euangordon commented on #18
#18 and #29 both are closed because they are duplicates of each other. Is there an issue tracking this now?

[2018-10-04 22:59] julianduque commented on #18
@euangordon I re-opened since it seems isn't fixed? Can you confirm @TooTallNate?

[2018-10-05 08:05] euangordon commented on #18
@julianduque @TooTallNate it seems to be working fine. I was looking for supporting information around configuration and came across these two issues both of which were closed as duplicated of one another, without mentioning if the issue was resolved.

Yesterday I was using it with Fiddler without any issues.

[2018-10-26 14:20] geajack opened #54 "Can I force HttpsProxyAgent to trust a certain certificate?"
I want to use this module to pipe node-fetch requests through Fiddler for debugging. But when I try, I get an error about being unable to verify "the first certificate". This isn't unexpected, you get this with Firefox too - you have to export the cert from Fiddler as a .cer file and manually import it into Firefox.

Can you import a .cer file into this module to do something similar? Is there a w

[2018-10-27 10:32] astur commented on #53
It's not only with node-fetch.

For example, this code:

[code]

It will not stop after error, cause socket will not be closed at same moment.

Using `wtfnode` you can see something like this:

[code]

[2018-10-31 07:28] larry011 opened #56 "Improper Client Certificate Handling"
Description: Currently, node-https-proxy-agent will forward client certificate used to authenticate against proxy to the backend server (being proxied by the proxy) as well. This would be undesirable behavior when both the site being proxied and the proxy itself enabled client certificate authentication, and they expect different client TLS certificates. I added backendOpts option to specify TLS o

[2018-11-09 03:51] GonyMaster commented on #28
me too

[2018-11-19 13:32] ohookins opened #57 "Not possible to disable TLS negotiation with secureProxy = false"
Based on the configuration options, it appears that you can use a plain HTTP proxy with HTTPS request URLs (which will use the CONNECT method). Unfortunately it looks like this option just alters when the TLS negotiation is made:
- secureProxy true: TLS connection made on request initiation
- secureProxy false: TLS upgrade performed after successful response coming back from the proxy.

For many c

[2018-11-19 15:11] ohookins commented on #57
I suspect we are hitting some other problem where the destination endpoint is being connected to over port 80 instead of 443, it's not attempting to upgrade the proxy connection itself.

[2018-11-19 15:11] #57 closed

[2019-01-24 05:59] mindej commented on #44
+1

[2019-01-25 09:40] mindej opened #60 "NTLM Proxy authorization support for corporate proxy servers"
Could you add example how to do NTLM proxy authorization.

[2019-02-11 09:52] k7eon commented on #28
me too :D

[2019-02-19 07:03] monkeysuffrage commented on #28
Is it safe to just comment that out?
This is causing me some major problems.

[2019-02-19 08:20] JonathanWilbur opened #61 "Does not accept WHATWG URL"
This library does not accept WHATWG URLs. See this bug, which I have written up for one of this library's dependencies: https://github.com/TooTallNate/node-agent-base/issues/26. An additional bug writeup that may be instructive is https://github.com/nodejs/node/issues/26198.

You will also have this same issue with this line of code in this package:

[code]

[2019-03-03 10:33] CodeingBoy commented on #28
Me too. It did happen. And I can't extract any information from the debug log.

[2019-03-06 08:48] CodeingBoy commented on #28
More info: I use npm with proxies created by privoxy. As I replaced privoxy with another proxy software, the problem disappeared. So privoxy may be related to this problem.

Environment:
- Windows 10 1809
- Privoxy 3.0.28
- Node.js v11.10.1
- npm 6.8.0

[2019-03-14 19:24] planschmuh commented on #28
This happens to me as well, when I send many requests to a proxy.

Environment:
- Windows 10 1809
- Node.js v11.10.1

[2019-03-29 17:47] rhurey opened #64 "Add a browser.js to make bundling for browser & node usage simpler"
WS implements a simple browser.js file that makes webpacking a simple exercise as it injects an error if use is attempted (which is shouldn't be).

Can https-proxy-agent do the same so something that uses it but targets both browser and node can have a simple webpack story?

[2019-04-05 01:19] #64 closed

[2019-04-17 09:20] yesworld commented on #27
@yonilerner Thank you man!

[2019-05-01 12:47] Slind14 commented on #53
same

[2019-05-21 19:47] TooTallNate commented on #27
Fixed by #66.

[2019-05-21 19:47] #27 closed

[2019-06-04 08:15] MichaelHindley commented on #27
@TooTallNate
Just a heads up, using the index.d.ts from master to work with the currently published 2.2.1 package doesn't work with the signature defined in the constructor, which no longer accepts proxy as a string.

Might just be a intermediate change for upcoming bc breaks, but figured it might be good to share this finding just in case :)

[code]

[code]

[2019-07-02 06:18] syter opened #70 "how can i use ws with HttpsProxyAgent"
My project is create a websocket connection between my computer and a internet websocket server.
Now I want to use proxy.
I get some proxy IP from Internet. Such as: 'http://51.38.71.101:8080'.

Here is my code:
[code]

When I use `socket = new WebSocket(url);`, my console log is:
[code]

But when I use `socket = new WebSocket(url, { agent: agent });`, my console log is:
[code]

I have test proxy

[2019-07-02 06:21] syter commented on #70
And my node version is `v11.7.0`
ws version is `7.0.1`
https-proxy-agent version is `2.2.1`

[2019-07-06 01:57] sadasant commented on #70
Based on this, you have an answer already: https://github.com/websockets/ws/issues/1601
Let us know if that was not enough!

[2019-07-06 01:57] #70 closed

[2019-07-06 16:50] sadasant commented on #61
@JonathanWilbur what do you think of this approach? https://github.com/TooTallNate/node-https-proxy-agent/pull/71

[2019-08-26 12:45] thomae82 opened #74 "Problem when upgrading from Angular7 to Angular8"
Hi folks

I have updated my application from ANgular 7.2.9 to Angular 8.2.3. In our project we are using Win Auth.

After the upgrade the login is not working any longer. No requests arrive at the backend.

Any idea or plans?

Cheers

Marc

[2019-08-30 12:02] aborovsky commented on #28
This error occurs with more frequency if one use [nock](https://github.com/nock/nock) response mocking library.

[2019-09-07 11:15] jancurn opened #75 "Failing unit test in Node 10+ (connection timeout)"
The unit test of the `https-proxy-agent` package fails on Node 10+:

[code]

I suspect this is related to the following change introduced in Node 10: https://github.com/nodejs/node/pull/19981

Unfortunately, this issue makes it impossible to use web sockets over HTTPS proxy, since that depends on `https-proxy-agent`. For example, unit tests of https://github.com/apifytech/proxy-chain fail for this

[2019-09-07 13:06] jancurn commented on #75
For a reference: As a workaround, rather than using `ws` + `https-proxy-agent` package to connect web socket via HTTPS proxy, one can use the `faye-websocket`package.

[2019-09-25 14:59] eigidi commented on #54
+1 to be able to set trusted CAs

[2019-10-04 13:47] medikoo opened #78 "Man In the Middle vulnerability"
Medium level.

Reported by Snyk: https://app.snyk.io/test/npm/https-proxy-agent/2.2.2

[2019-10-07 18:43] TooTallNate commented on #75
Fixed by #73.

[2019-10-07 18:43] #75 closed

[2019-10-07 19:53] #78 closed

[2019-10-07 21:29] kachkaev commented on #78
@TooTallNate seems like Snyk flags 3.0.0 as vulnerable as well: https://app.snyk.io/test/npm/https-proxy-agent/3.0.0

Do you think it's just a matter of them re-running the audit manually? Or is their report still legit?

[2019-10-07 21:34] TooTallNate commented on #78
I think something needs to be updated / reported on their end. Same for the HackerOne report.

[2019-10-07 21:37] kachkaev commented on #78
@lirantal could you please help us here? 🙏

[2019-10-07 21:55] lirantal commented on #78
FYI that Snyk has public patches that can be applied if needed: https://app.snyk.io/vuln/SNYK-JS-HTTPSPROXYAGENT-469131 and the Snyk tooling helps with applying these patches when no upgrade path is available.

Looks like @TooTallNate had only commented on the HackerOne report with a fix some 20 minutes ago so this is all fairly new. I'll update the Snyk team with this so we can triage and update

[2019-10-07 23:01] lirantal commented on #78
We've pushed the update to support 3.0.0 as a fixed version of the module and will be reported as such by Snyk starting tomorrow. Please ping me using the mention tag otherwise and I'll chime in to check what's up.

[2019-10-08 09:31] benjifin commented on #78
Hey just a heads up from Snyk's side - we've verified and released the update to support 3.0.0 as the fixed version. Thanks for pulling us in here to let us know about the fix (we do track all unfixed packages for releases, but always helpful when we get a heads up as well!)

[2019-10-09 14:15] gajus opened #81 "this.socket.destroy is not a function"
After upgrading to v3, I started to get errors:

[code]

So far I wasn't able to isolate what is causing them.

[2019-10-12 19:16] lpinca commented on #81
I think it is caused by this https://github.com/TooTallNate/node-https-proxy-agent/blob/3.0.0/index.js#L171. To fix https://hackerone.com/reports/541502, a fake socket is now returned to the client if the proxy server does not respond with 200.

I wonder if using a `Duplex` instead of a plain `EventEmitter` fixes this issue. Can you try this patch?

[code]

[2019-10-12 19:30] gajus commented on #81
I have not been able to replicate this issue in isolation. Cannot deploy a patch to production. I have added it to local development, but I have not really seen this happen locally.

[2019-10-16 13:28] gajus commented on #81
Any plans on releasing this patch?

[2019-10-17 01:00] #81 closed

[2019-10-18 17:45] AaronFriel commented on #78
It would be enormously helpful, I think, for downstream consumers to publish a new patch version matching the semver `^2`. By bumping the major version at the same time, thousands of reverse dependencies are broken and `npm audit fix` doesn't resolve the problem for them. This has resulted in, for example, most of the `@google-cloud` ecosystem of packages being broken (`npm audit` fails in CI syst

[2019-10-18 17:45] AaronFriel commented on #78
(Just as an aside, bumping the major version is _not_ recommended by anyone as a response to a security vulnerability!)

[2019-10-18 17:57] AaronFriel opened #84 "Please create a 2.x branch and pull in this commit and publish"
This will unblock many, many people who are unable to resolve `npm audit` errors in their CI/CD system.

https://github.com/AaronFriel/node-https-proxy-agent/commit/25d3006b5d49ed93c68ce6b684fbeb0a34e2545f

[2019-10-18 17:59] AaronFriel commented on #78
See: #84

[2019-10-18 18:49] stabback commented on #84
In case anyone else's deploys are stuck on this - https://www.npmjs.com/package/npm-force-resolutions may help you out while this is addressed, or while your dependencies update their dependencies (which may need to update their dependencies...)

1. `npm i --save-dev npm-force-resolutions`
2. Add this to your package.json
[code]
3. Let npm-force-resolutions do it's thing
[code]
4. re-run your audi

[2019-10-18 20:55] lirantal commented on #78
@AaronFriel the Snyk patch is compatible with 2.x:
![image](https://user-images.githubusercontent.com/316371/67127786-aeeaf180-f202-11e9-9918-4d7473921585.png)

[see here](https://snyk.io/vuln/SNYK-JS-HTTPSPROXYAGENT-469131) for the links and details

[2019-10-19 03:16] jsphkm commented on #84
Thanks, I can confirm that this worked.  When 3.0.1+ is released, do I simply remove the resolutions script from `package.json`, (optionally) uninstall `npm-force-resolutions`, and reinstall `node_modules`?

[2019-10-19 19:18] manoharreddyporeddy commented on #84
With above steps, it only temporarily goes away. npm i gets the issue back.

[2019-10-21 09:12] louislva commented on #84
@TooTallNate would you be able to publish @AaronFriel's patch?

[2019-10-21 23:54] ineffyble commented on #84
Please do this.

[2019-10-22 03:37] neuralbrain commented on #84
When you publish your code, notice the vulnerabilities are back. (assuming asp.net core)
I have created a work-around:
1) In the directory that contains the node_modules folder, create a command file i.e. install.com (this is just a text file ).
2) Edit that file and place two commands in it: npx npm-force-resolutions (and) npm install
3) In your project file you will find <Exec WorkingDirectory="

[2019-10-22 05:08] hiendv commented on #78
@AaronFriel Couldn't agree more. Why bumping a major version for a security fix? Now it cannot be automatically resolved.

[2019-10-22 08:30] talr1 commented on #78
same issue here, can't use "npm audit fix", which breaks our pipeline
also, version 3.0.0 is not promoted to be latest version

[2019-10-22 14:01] XhmikosR commented on #84
https://help.github.com/en/github/managing-security-vulnerabilities/about-security-alerts-for-vulnerable-dependencies#data-sources-for-security-alerts

Someone should contact GitHub to speed things up.

[2019-10-22 14:24] khitrenovich commented on #84
I just pinged npm security team via email, not sure what's the right way to fix GitHub audit.

[2019-10-22 14:35] khitrenovich commented on #84
The npm advisory was just updated -
![image](https://user-images.githubusercontent.com/3424762/67297262-ad961f00-f4b7-11e9-883c-8dbc5a3505df.png)

[2019-10-25 19:53] TooTallNate commented on #84
Done in v2.2.3.

[2019-10-25 19:53] #84 closed

[2019-11-01 05:01] gtsigner opened #86 "hi bro, how to use with http2"
I want to use in HTTP2 protocol agent, can you help me or give me a demo, I am looking for a long time

[2019-11-01 05:03] zhaojunlike commented on #86
I can't find the interface in nodejs http2 document, and I can't find any information  ,  axios  or superagent all can't use http2 proxy

[2019-11-01 05:03] zhaojunlike commented on #86
example:
[code]

[2019-11-20 19:45] alefwmm opened #87 "Socket not emitting data when proxy fails"
Hello guys,

I have one problem currently and a possible solution for it.
I am using `node-https-proxy-agent#3.0.1` with `axios#0.19.0`.

It works properly when the proxy connects successfully. The problem comes when my proxy provider gives me an error response like `HTTP/1.1 502 Proxy Error` during the connection process. When this happens, I am unable to catch this response and then, a timeout i

[2019-11-23 18:35] gajus opened #88 "no support for Node.js v10"
https://github.com/sindresorhus/got/issues/941

[2019-12-02 17:11] allisont commented on #60
@mindej , Have you had any luck making this work with an NTLM proxy ?. If so, would really appreciate if you could offer some guidance on this.

[2019-12-03 06:43] mindej commented on #60
No, I have given up and installed http://cntlm.sourceforge.net/

[2019-12-11 09:13] ouraios commented on #88
I guess it can be closed now that `http-proxy-agent` have `agent-base` last version

[2019-12-11 10:50] #88 closed

[2019-12-17 17:03] Janpot opened #89 "Doesn't seem to pass options to tls.connect"
as per documentation https://www.npmjs.com/package/https-proxy-agent#new-httpsproxyagentobject-options

But when I try this, it doesn't seem to pass `ca` or `rejectUnauthorized` when upgrading connection. I can get around it by monkey patching the agent `callback`:

[code]

I feel like this could be solved by changing this line https://github.com/TooTallNate/node-https-proxy-agent/blob/176d4b4fb20

[2019-12-26 13:33] techyrajeev opened #90 "Getting Error: write EPROTO 139876245374848:error:140770FC:SSL"
Getting below error while trying to acess google authentication call from proxy server

[code]

using
    "https-proxy-agent": "^4.0.0",

[2019-12-30 23:39] kadler15 opened #92 "HttpsProxyAgent inheritance from base Agent partially broken in v4.0.0"
I noticed that timeouts passed to the `HttpsProxyAgent` constructor have no effect in v4.0.0. I believe the bug is a result of the [agent-base](https://github.com/TooTallNate/node-agent-base) TypeScript rewrite released in agent-base@5.0.0.

`HttpsProxyAgent` inherits prototype methods from `Agent` via [`util.inherits`](https://nodejs.org/docs/latest/api/util.html#util_util_inherits_constructor_su

[2020-01-17 09:16] watson commented on #87
We're seeing the same issue (with both the latest version and v2.2.3+).

Here's a simple program to reproduce:

[code]

If using the latest version `req` will never finish. If using v2.2.2 it will finish. The difference here is that `req` never emits a `finish` event if using the latest version.

[2020-01-21 08:00] adefirmanf commented on #54
+1
Any update about this issue? @geajack

[2020-01-21 08:10] geajack commented on #54
@adefirmanf  I think in the end I just gave up and used a different tool. Can't really remember, sorry.

[2020-01-30 07:11] gajus opened #94 "ciphers option ignored"
[code]

Changing `ciphers` configuration has no effect.

[2020-01-30 07:14] gajus commented on #94
Looking at the source code, there appears to be no way to pass custom options to the upgrade phase connection.

https://github.com/TooTallNate/node-https-proxy-agent/blob/176d4b4fb20e229cf6cd1008f06bf97833fd725f/index.js#L151

[2020-02-01 20:53] bjowes commented on #89
I see this problem too - need to be able to pass the rejectUnauthorized option.

[2020-02-03 23:17] kadler15 commented on #94
This behavior changed over time because of [agent-base](https://github.com/TooTallNate/node-agent-base) being reworked. Try running your snipped with `https-proxy-agent@2.2.4`. You'll see that the `ciphers` option is passed on to the `tls.connect` call that upgrades the socket.

This issue is related to #92. Officially `agent-base` only supports a [`timeout` option](https://github.com/TooTallNate/

[2020-02-03 23:35] kadler15 commented on #89
See #94. Those options will be passed through by `https-proxy-agent@2.2.4`, but not by the current version. I'm not sure how @TooTallNate wants to support this going forward.

If you were using Node's [`https.request`](https://nodejs.org/api/https.html#https_https_request_url_options_callback) directly, it would pass your `rejectUnauthorized` and `ca` values to the agent, but it looks like `node-f

[2020-02-05 03:15] #87 closed

[2020-02-11 21:31] TooTallNate commented on #92
Please use v5.0.0.

[2020-02-11 21:31] #92 closed

[2020-02-11 21:35] TooTallNate commented on #35
There's two potential places to set `rejectUnauthorized`, depending on which target you want:

 * On the constructor options only applies to the connection to the proxy server (not the destination endpoint).
 * On the options to `http.request()` only applies to the destination endpoint, but not the proxy server.

Take a look at the test case code that covers this:

[code]

[2020-02-11 21:35] #35 closed

[2020-02-11 22:00] #16 closed

[2020-02-20 19:26] Bojack92160 opened #97 "Engine.io-client not using the custom agent"
I'm using engine.io client in primus with the electron framework. I want to use a proxy, therefore I use https-proxy-agent, but it keep connecting directly instead of through the proxy. Here is what I have done:

[code]

I don't get a message error or anything

That's weird because I can make the custom agent work when I do a simple http request for example.

[2020-03-27 07:54] marikaner opened #98 "Property 'options' is missing in type 'HttpsProxyAgent' but required in type 'Agent'."
I am using the `HttpsProxyAgent` to set a proxy on axios requests in a TypeScript project.
I just tried to update to the newest version and got this error:
[code]

I checked your release notes and it seems that this is due to the fact, that `options` was removed from the underlying `Agent`, that mimics the `http.Agent` of node. In our case we are assigning the `HttpsProxyAgent` to a variable of ty

[2020-03-27 08:58] marikaner commented on #98
I found out that we can just use the http.Agent. This might still be worth a consideration. Feel free to close though.

[2020-04-02 16:04] aabbccsmith commented on #12
Bump :) Would be great on the readme

[2020-04-06 17:46] rimiti opened #99 "Unable to verify the first certificate"
Hello,

In a previous version, it was possible to set `rejectUnauthorized: false` into the contructor object.
But in the new version (v5.0.0) it seems not possible, or not working.

I'm getting the below error:
[code]

Is anyone know how "auto trust" certs ?
Thanks a lot 🙏

[2020-04-17 16:53] gnyani commented on #99
Facing the same issue, rolled back to 3.0.0

[2020-04-17 21:13] pinilpypinilpy opened #100 "errors with https"
when using the sample code to connect to echo.websockets.org and an http proxy everything goes fine, but when attempting to use https and wss instead of ws, I get:

[code]

Thanks in advance

[2020-04-17 22:16] TooTallNate commented on #100
Can you show the exact code you're using?

[2020-04-17 23:19] pinilpypinilpy commented on #100
sure:
const WebSocket = require('ws');
var url = require('url');
var https = require('https');
var HttpsProxyAgent = require('https-proxy-agent');
var proxy = process.env.http_proxy || 'https://198.98.56.71:8080';
console.log('using proxy server %j', proxy);
var endpoint = process.argv[2] || 'wss://echo.websocket.org/';
var parsed = url.parse(endpoint);
console.log('attempting to connect to WebSoc

[2020-04-18 01:47] pinilpypinilpy commented on #100
ok, I think it was because I put https instead of http, but that's kinda counter-intuitive, gotta say
thanks for the quick response.

[2020-04-18 01:47] #100 closed

[2020-05-07 19:19] plmrry opened #101 "Where is `callback` actually called?"
The comment above the agent's `callback` function reads:

[code]

I'm wondering where `callback` is actually called (within the node-core HTTP library).

I was expecting to see it [here](https://github.com/nodejs/node/blob/master/lib/_http_client.js) but I don't.

[2020-05-07 19:36] plmrry commented on #101
Oh I see, it's using [agent-base](https://www.npmjs.com/package/agent-base), which uses `callback`.

[2020-05-07 19:36] #101 closed

[2020-05-08 06:23] FantasticFiasco commented on #98
This is problematic for me as well. I'm forced to stay on v4 instead of upgrading to v5.

Is there anything I can do to help? Was there a reason for removing `options`, or is it as simple are re-adding it again?

[2020-05-09 19:22] ghost opened #102 "complete crash without warning on 'Proxy CONNECT aborted'"
I have this error that I don't know how to reproduce because I don't own the proxy server that produces it. But it is rather critical because it crashes any application without possible way to catch it.

The code below causes the crash without warning. The console logs never trigger. No errors is outputted. Application immediately exits. I have tried with node-fetch and make-fetch-happen as well a

[2020-06-03 12:40] sm2017 opened #105 "maxSockets"
How can I set maxSockets?

[2020-06-10 14:34] yovanoc opened #106 "Rotating Proxies"
Hello,

I tried to use rotating proxies with this agent.

I get a "Socket is closed". My opinion is that when the agent request the service to get another proxy the socket is closed here and not follow the real proxy

[code]

But when I use this lib https://github.com/koichik/node-tunnel all is working good. But i would like to use https-proxy-agent. Rotating proxy is really working or not?

[2020-06-12 08:15] yovanoc opened #107 "Http2 Agent"
Hello, not a real issue sorry, just a question.

I found this issue on got: https://github.com/sindresorhus/got/issues/1265

And wanted to know, have you planned to do an http2 agent?

[2020-06-12 14:51] rbellamy opened #108 "node-fetch: Property 'freeSockets' is missing in type 'HttpsProxyAgent' but required in type 'Agent'."
[code]

[2020-06-12 20:27] yovanoc commented on #107
I think we can look forward to this maybe

[code]

[2020-06-12 21:46] yovanoc commented on #107
with this for websockets https://github.com/websockets/ws/issues/1458

[2020-06-17 22:05] Rasfuranku commented on #105
Could the keepAlive parameter be included on this too?

[2020-06-17 23:50] Rasfuranku commented on #105
There is a work around for this. As the Agent is being created with the `http.Agent` you can access to its properties and set them.

[code]

[2020-06-18 06:25] sm2017 commented on #105
@Rasfuranku

How you find that it created with the htto.Agent, Can you show me the source?

[2020-06-18 23:25] Rasfuranku commented on #105
It is using the `agent-base` library which is an `http.Agent` generator.
agent-base: https://github.com/TooTallNate/node-agent-base#readme
Magic happens here:
https://github.com/TooTallNate/node-agent-base/blob/bc0f58c1f02f545acd1a6bd887ed5b06b50874a9/src/index.ts#L91

[2020-06-24 17:47] hipstersmoothie commented on #108
This issue is blocking the merge of https://github.com/intuit/auto/pull/1317

[2020-06-30 11:18] yovanoc commented on #107
Hello back @TooTallNate , we can financially support you for this if you want

[2020-07-01 09:58] baba43 commented on #108
Any workaround for now?

[2020-07-07 21:08] AndrewO commented on #108
I had this as well. The solution was to downgrade `@types/node` to a 12.x.y version.

[2020-07-13 05:45] #105 closed

[2020-07-15 13:08] arantes555 commented on #89
I am having the same problem too : I am stuck on 2.2.4 because I need to pass options to tls.connect.

I would be willing to try fixing it, if you would accept a PR @TooTallNate ?

[2020-07-20 13:17] terion-name commented on #18
Such a required feature and nothing for 4 years :(

[2020-07-28 09:40] nickelswitte commented on #27
I am not sure if this is the right place to talk about this, but using the workaround provided by @MichaelHindley, I get an error when passing the `https-proxy-agent` to `node-fetch`.

When trying to do

[code]
I will get an error, that the `agent` is not of the correct type. The full error is below.

[code]

This can be fixed using `agent: agent as any`, but does not seem like a good solution.

H

[2020-07-28 11:56] nickelswitte commented on #108
Workaround would be to pass the agent `as any`

[2020-07-30 18:01] f0zi commented on #89
Same here. Please support [`checkServerIdentity`](https://nodejs.org/api/tls.html#tls_tls_checkserveridentity_hostname_cert), thanks!

[2020-08-12 11:46] ciarans commented on #53
Yep, sadly just hangs 😭

[2020-08-12 11:56] ciarans commented on #53
I managed to get a workaround by wrapping my request in this - https://www.npmjs.com/package/promise-timeout

[2020-08-20 09:54] ozican commented on #102
same for me

[2020-08-20 10:50] mh4ck commented on #53
Just took a look into the code and it seems that the latest version got no "timeout" handling.

Is there a best practise to handle it?

[2020-08-24 14:03] ruslanx3m opened #109 "resolved"
resolved.

[2020-08-24 14:15] #109 closed

[2020-08-24 23:33] leonardomso commented on #106
Hi @yovanoc, can you provide an example of how you got it working? I am currently trying to work with rotating proxies in Node.js and I am getting some errors related to socket.

[2020-08-25 06:35] yovanoc commented on #106
@leonardomso I use Got with http2 option and this to proxy https://github.com/szmarczak/http2-wrapper

[2020-08-25 12:35] leonardomso commented on #106
@yovanoc can you show me an example, please?

[2020-08-25 12:54] yovanoc commented on #106
[code]

[2020-09-02 17:01] BlacCello commented on #89
The hotfix works also for version 5.0.0 if I remove the "fn"-Paramter of the callback. Would be great to have this fixed, since this is a common setting to have mutual tls combined with the requirement of a (corporate) proxy.

[2020-09-07 14:15] maslakov commented on #89
Hotfix works for me as well.
Here is my variant fo axios
[code]

Usage:
[code]

[2020-09-07 14:20] maslakov commented on #54
There are similar open issues and one workaround - https://github.com/TooTallNate/node-https-proxy-agent/issues/89

[2020-09-09 14:14] ruslanx3m opened #110 "https Keep-Alive support ?"
Keep-Alive support ?

[2020-09-14 03:20] STLeee opened #113 "parcel build: Property name expected type of string but got null"
### Environment details
**OS**: Windows 10
**Node.js**: v13.9.0
**npm**: 6.13.7
**https-proxy-agent**: 5.0.0

### Error message
[code]

[2020-09-14 05:36] ArturAralin commented on #110
Look on my PR https://github.com/TooTallNate/node-https-proxy-agent/pull/112

[2020-10-23 01:03] dobromyslov opened #114 "Property 'maxTotalSockets' is missing in type 'HttpsProxyAgent'"
Type 'HttpsProxyAgent' is not assignable to type 'Agent | ((parsedUrl: URL) => Agent)'.   Property 'maxTotalSockets' is missing in type 'HttpsProxyAgent' but required in type 'Agent'.

* @types/node@~12.19.0 contains `http.Agent` class with mandatory `maxTotalSockets` property.
* @types/node-fetch@2.5.7 RequestInit interface uses Agent from Node http.
* https-proxy-agent@5.0.0 uses Agent class fro

[2020-10-23 01:08] dobromyslov commented on #114
Added new issue to the HttpsProxyAgent https://github.com/TooTallNate/node-agent-base/issues/48
HttpsProxyAgent should update agent-base package after it's fixed.

[2020-10-23 02:08] dobromyslov commented on #114
Workaround:
[code]

[2020-10-23 19:20] #114 closed

[2020-11-05 05:28] LuizFelipeNeves commented on #106
@yovanoc thanks!

[2020-11-08 18:48] giy-debug commented on #110
I have switched to using this library:
https://github.com/mknj/node-keepalive-proxy-agent/blob/master/index.js
Note that it's configured with `host` instead of `hostname`.

Looking at the source code here I think it's flawed because it creates a new socket for every request and thus it is repeating the TLS handshake with every request. Would be a major revamp to implement. Also I don't understand

[2020-11-23 16:48] gchoqueux opened #115 "ERR_INVALID_PROTOCOL in NodeJS 15 when connect https url through http proxy"
When I connect https url (https://example.com) through http proxy (http://127.0.0.1:1080) in NodeJS v15.0.1, the following error occurred:
[code]
This is the same fixed issue in https://github.com/TooTallNate/node-agent-base/pull/47

`node-agent-base` has not been updated in `node-https-proxy-agent`.

Could you upgrade `node-agent-base 6`  to `6.0.2`, please?

[2020-11-23 20:06] TooTallNate commented on #115
`https-proxy-agent` specifies a loose version for `agent-base` (`6`) which includes `6.0.2`. You need to run `yarn upgrade` / `npm update` to update your installed dependencies to their latest versions.

[2020-11-23 20:06] #115 closed

[2020-11-24 11:08] gchoqueux commented on #115
thanks

[2020-11-24 16:24] CedricBrandt commented on #99
Also affected

[2020-12-03 10:15] rimiti commented on #99
@TooTallNate Could you please this issue? We are many to be blocked by this.

[2020-12-15 16:48] rodrigoords commented on #99
+1

[2020-12-17 03:26] bytesmithing commented on #28
This error occurred when i execute the following code
[code]

[2020-12-17T03_18_46_142Z-debug.log](https://github.com/TooTallNate/node-https-proxy-agent/files/5706801/2020-12-17T03_18_46_142Z-debug.log)

[2021-01-05 09:00] krzysztof-cislo commented on #99
Is this project dead? No reply or update for one year already.

[2021-02-19 13:42] ellenaua opened #116 "Getting error SELF_SIGNED_CERT_IN_CHAIN"
Getting error SELF_SIGNED_CERT_IN_CHAIN

[2021-03-02 21:26] cdesch commented on #54
+1

[2021-03-02 21:29] cdesch commented on #89
@maslakov did you create a pull request for this?

[2021-03-02 21:31] cdesch commented on #116
You probably need to include the CA cert.  This is most likely related to https://github.com/TooTallNate/node-https-proxy-agent/issues/54 and https://github.com/TooTallNate/node-https-proxy-agent/issues/89

[2021-03-20 22:30] AndreasAugustin opened #117 "Support of URL as constructor parameter (instead of legacy url)"
## Story

According to https://nodejs.org/api/url.html legacy `url` is deprecated and is replaced by the [WHATWG URL](https://nodejs.org/api/url.html#url_the_whatwg_url_api).

It would be nice if the constructor would also support this Object.

Because of the shallow clone on line `46` with the spread operator (Object.assign) within [src/agent.ts](https://github.com/TooTallNate/node-https-proxy-ag

[2021-03-22 23:16] dilame commented on #115
My yarn installs `agent-base@6.0.0`, i can't even affect it. Could you please update your `package.json`?

[2021-04-10 00:55] surlyhacker opened #119 "Is there a way to get the CONNECT response headers?"
Hi,

Is there a way to get the response headers that are sent back to the client by the proxy in response to the CONNECT method?
Typically these headers return metadata associated with the proxy itself and how it may be acting.
These are distinct of course from response headers to the actual proxied request issued subsequent to the CONNECT.

Thanks

[2021-04-10 03:37] zMrKrabz commented on #98
Here is a fix I made.

[code]
Note that I am using the got library as the example here, but essentially, I just casted the type. Not sure what implications this has, but so far, this is working fine for me.

[2021-04-13 23:55] alamothe commented on #115
Hello, I am getting the same error even with latest versions:
[code]
The error is only on Node 15. Any recommendations?

[2021-04-19 19:18] serwer20 commented on #102
same here 😞

[2021-04-21 09:57] pankleks opened #120 "Module 'net' (+ others) has no default export error"
![image](https://user-images.githubusercontent.com/14176066/115534958-972d7700-a298-11eb-8e39-ac8b07589c37.png)

it can be fixed by changing `import * as net from "net";`

[2021-04-21 09:59] pankleks commented on #120
it can be solved by adding `"allowSyntheticDefaultImports": true` in tsconfig.json

[2021-04-21 17:59] TooTallNate commented on #120
Pull request welcome!

[2021-04-29 15:43] nikolaitn opened #121 "Http-proxy-agent with Axios library, Https agent properties does not work"
Hi,
I am using Axios library (Typescript) for making a proxy request and for testing purposes I am using a self signed certificate and need to set
in the agent  { rejectUnauthorized: false}, later need to setup a 'ca' and 'checkServerIdentity'.

If I put those like this:

[code]

This doesn't seem to work, 'rejectUnauthorized' is set as a proxy parameter, which is not what we want, we want it as a

[2021-05-04 09:48] Nisthar commented on #110
@giy-debug does it work with axios?

[2021-05-06 06:53] boly38 commented on #116
Hi
It would be great to add to this agent support of `rejectUnauthorized: false,` (like in https.Agent cf. [Karthik answer](https://stackoverflow.com/questions/52478069/node-fetch-disable-ssl-verification))

[2021-06-02 08:11] RSickenberg opened #122 "OPENSSL Certificate routine ERR_OSSL_X509_KEY_VALUES_MISMATCH"
Hello,

I got an issue with Cypress (who uses your lib).
https://github.com/cypress-io/cypress-docker-images/issues/495

[2021-06-14 19:28] dscalzi commented on #89
This worked for me, thanks. Shame this library doesnt just support setting any of the Agent options out of the box. Extremely frustrating.

[2021-06-15 13:01] dscalzi commented on #121
workaround: https://github.com/TooTallNate/node-https-proxy-agent/issues/89

[2021-06-24 12:32] Knautiluz commented on #53
Same, infinity request using `https-proxy-agent` with `http-proxy-agent` works perfectly`

[2021-07-07 13:26] Ed-Ed opened #123 "Types are incorrect?"
Per the documentation, if I import the package and do the following:

[code]

I see the following TypeScript error:

[code]

[2021-07-08 05:57] billypon commented on #35
@TooTallNate

@TooTallNate Both of two cases are not work for me.
I use `fetch`, but it doesn't implement rejectUnauthorized option.
HttpsProxyAgent dosen't implement this option too, and `proxyOpts.rejectUnauthorized = false` is not work.

[2021-07-14 08:26] Fosper opened #124 "Stuck when pipe or request.write()"
const fs = require('fs');
const url = require('url');
const https = require('https');
const HttpsProxyAgent = require('https-proxy-agent');

let requestOptions = url.parse('https://127.0.0.1');

requestOptions.method = 'POST';
requestOptions.agent = new HttpsProxyAgent('https://127.0.0.1:3000'); // <--- If comment this - all works fine.

let request = https.request(requestOption, (res) => {
    re

[2021-07-15 10:03] chdzma commented on #52
Any solution for this?

[2021-07-19 02:52] wong2 commented on #123
+1

[2021-07-30 17:01] JohnnyBill commented on #123
`import { HttpsProxyAgent } from 'https-proxy-agent';` maybe the correct way.
I tranformed my old javascript code that uses `const HttpsProxyAgent = require('https-proxy-agent');` to typescript and now i somehow get some strange ssl errors, that didnt happen before in the javascript version. Maybe there is some cornercases, where the import on top behaves different to the javascript version. I am

[2021-08-03 03:22] gsongsong commented on #99
Might `process.env.NODE_TLS_REJECT_UNAUTHORIZED = '0'` help?

[2021-08-20 18:01] gkjohnson opened #125 "Sourcemaps cause warnings because src files are not included in distribution"
Hello! I'm seeing some warnings with Webpack source-map-loader when building a project with this project as a dependency because the src files are not included in the distribution but are referenced via the source maps:

[code]

I believe adding the "src" folder to the [list of published files](https://github.com/TooTallNate/node-https-proxy-agent/blob/master/package.json#L7-L9) would fix this.

[2021-09-09 21:33] MaksimKiselev opened #126 "TypeError [ERR_INVALID_PROTOCOL]: Protocol "https:" not supported. Expected "http:""
After upgrade env to use node v16 I've got error: `TypeError [ERR_INVALID_PROTOCOL]: Protocol "https:" not supported. Expected "http:"`

After small research I've found that problem in `agent-base` dependency and this already fixed: https://github.com/TooTallNate/node-agent-base/pull/47

Please update `agent-base` dependency.

[2021-09-09 21:35] MaksimKiselev commented on #126
Workaround: install `agent-base` vesrsion upper 6.0.2 to root `npm i --save npm install agent-base@^6.0.2`

[2021-09-20 09:36] ahmadyazdanii commented on #126
hi, i have this problem in node lts (14x)
please upgrade dependency

[2021-10-03 08:59] jeromeSH26 commented on #121
seems, workaround still not correct fom `rejectUnauthorized: false`
still got error `Error: unable to verify the first certificate` with Axios

[code]
[code]

[2021-10-20 15:03] fbeauchamp opened #127 "DeprecationWarning: Setting the TLS ServerName to an IP address is not permitted by RFC 6066"
We use `https-proxy-agent` to connect to server with a self signed certificate using their ip .

`tls.connect`  with such a servername shows this warning :`DeprecationWarning: Setting the TLS ServerName to an IP address is not permitted by RFC 6066`

The servername should be removed only when using an ip address, as to not disable SNI when possible

thanks in advance.

[2022-01-25 20:36] mbargiel commented on #121
For some reason I was also unable to use that workaround. The problems seems to stem from the decision to drop `this.options` [in the base class](https://github.com/TooTallNate/node-agent-base/commit/7e1a2da1915d6a0d2025bb4ba6148e39d6f4334a#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80L104). This object would allow carrying the relevant TLS options to the `tls.connect` call

[2022-01-27 19:48] mbargiel commented on #121
OK after a bit of digging around, here's the conclusion:

1. The `ca` or `rejectUnauthorized` options passed to an `HttpsProxyAgent` constructor are only passed to the proxy socket connection. They are not passed to the `tls.connect` call that upgrades the proxy socket (net.Socket or tls.Socket) to a tls.Socket; only the request options are passed (mostly) verbatim to this `tls.connect` call.
2. A

[2022-01-31 22:46] mbargiel opened #131 "ERR_TLS_CERT_ALTNAME_INVALID when attempting to connect to proxy that has a certificate with only 127.0.0.1 as CN/SAN"
I have a setup where I'm testing various proxy configurations using a custom self-signed certificate authority to test "valid" user configurations. I pass the custom ca root to my tests using the TLS request option `ca`. Recently I ran into an issue where it's not possible to connect to a proxy server over HTTPS despite having set `ca`.

Repro steps:
1) Install `mitmproxy` (e.g. `brew install mitm

[2022-02-01 02:21] mbargiel commented on #131
I think it would be as simple as
[code]

[2022-02-04 23:26] dscalzi commented on #121
maybe give https://github.com/delvedor/hpagent a try as well. The library is not abandoned like this one and it works very well with a lot of the libraries I use (ie aws-sdk, got, etc).

[2022-03-07 15:42] maximium opened #132 "Host header is not comply with rfc when CONNECT"
Hello. Would you consider to remove [this condition](https://github.com/TooTallNate/node-https-proxy-agent/blob/c30a9dc75a272591a80b9b4acef1496f80824f88/src/agent.ts#L115) and use connect target in the host header as is? Haproxy [enforces strict checking](https://github.com/haproxy/haproxy/commit/531b83e039bbe369e4fe6e775e9bfa310d780da1) of host header according to [rfc7230 section 5.4](https://da

[2022-03-08 09:25] maximium commented on #132
There is a [pull request](https://github.com/TooTallNate/node-https-proxy-agent/pull/133) if you'd like to accept my proposal.

[2022-05-11 13:54] mbargiel commented on #121
@dscalzi I looked at `hpagent` and it's very promising. Thank you!

I easily replaced `https-proxy-agent` with it in my project, with the only caveat being that it doesn't support configuring the `ca` or `rejectUnauthorized` options for the proxy server connection - basically, the reverse problem of the above 😅  But that one is active (version 1.0.0 was released about a week ago) so there's hope t

[2022-05-13 02:07] dscalzi commented on #121
I have been able to configure the ca property with hpagent.

[2022-05-13 03:23] mbargiel commented on #121
For the connection to the upstream URL, yes, not for the HTTP CONNECT
request to the proxy server (when proxying over HTTPS). Unless I missed
something? How did you do it?

Le jeu. 12 mai 2022 à 22:07, Daniel Scalzi ***@***.***> a
écrit :

[2022-05-24 03:59] jameshooddisc commented on #119
Interesting question, did you find a solution for this?

Thanks!

[2022-05-24 04:30] surlyhacker commented on #119
Well one way I just tried is to debug into the source, and it appears to capture these headers here:
https://github.com/TooTallNate/node-https-proxy-agent/blob/master/src/parse-proxy-response.ts#L53
And then returns them internally in a Promise here:
https://github.com/TooTallNate/node-https-proxy-agent/blob/master/src/agent.ts#L131
So that `buffered` variable holds the headers returned by the pro

[2022-05-24 04:34] jameshooddisc commented on #119
Ah, thanks.

Yes, or adding them in final response like most of the proxies do.

[2022-05-24 05:50] surlyhacker commented on #119
Well if the proxy itself adds headers (to responses from the target host), then those would show up and be accessible like any other response headers and pass right through this agent.
But in my case I am using a proxy that does not do that, and passed some important headers only in its own CONNECT response.

[2022-06-04 14:43] FC5570 opened #135 "Making a request with proxy results in bad request"
[code]

I'm scraping a site with the proxy, but the response is a bad request.

Here is what the response looks like:
![image](https://user-images.githubusercontent.com/68158483/172007885-980e146e-2648-4ab6-b478-982cb35da66e.png)

I have absolutely no idea why this is happening. If you want to reproduce the issue, I'm scraping `https://azlyrics.com`. Please let me know what is wrong.

[2022-06-05 13:53] FC5570 commented on #135
I have fixed this issue. I was making a request to a site with `https` protocol but the proxy was http only. Using https proxies works.

[2022-06-05 13:53] #135 closed

[2022-06-30 17:27] iocmet opened #136 "Error: write EPROTO 16068:error:1408F10B:SSL routines:ssl3_get_record:wrong version number:c:\ws\deps\openssl\openssl\ssl\record\ssl3_record.c:332:"
I trying to connect to websocket with https proxy (i tried http but i get error 400 or 403 unexpected response) my code

var url = require('url');
var WebSocket = require('ws');
var HttpsProxyAgent = require('https-proxy-agent');

// HTTP/HTTPS proxy to connect to
var proxy = process.env.http_proxy || 'https://my_proxy_ip:my_proxy_port';
console.log('using proxy server %j', proxy);

// WebSocket e

[2022-07-14 15:53] tuxorials2 commented on #136
Having the same problem! Solution/Any help would be greatly appreciated!

[2022-07-19 02:03] GokulDharumar commented on #89
I am trying to use the hotfix with the callback. node-fetch and pfx file. but the hotfix is not working... can some one please help me out?

[2022-07-26 03:47] 01101sam opened #137 "[NOTE] A small note for all coder trying this package"
This package is not maintained for some days.

If you want a bug-free and with SOCKS combined package, please try my package [@sam01101/node-proxy-agent](https://www.npmjs.com/package/@sam01101/node-proxy-agent).
`npm i @sam01101/node-proxy-agent`

Bug report & PR are welcome

BTW The author is working on another project [node-socks-proxy-agent](https://github.com/TooTallNate/node-socks-proxy-agen

[2022-08-04 12:43] szmarczak opened #138 "Throw if the user-pass is missing a colon"
https://datatracker.ietf.org/doc/html/rfc7617#page-5

https://github.com/TooTallNate/node-https-proxy-agent/blob/d0d80cc0482f20495aa8595f802e1a9f3b1b3409/src/agent.ts#L107-L109

[2022-08-24 19:25] danilvalov opened #139 "Terminates with exit status 0 on NodeJS 14+ after first or second (maximum) request"
**Environment:** NodeJS v.14.17.0, v.14.19.1, v.16.17.0, OS: Ubuntu, MacOS

**Library version:** v.5.0.0 and v.5.0.1 (both tested)

I don't know what happened. But when I try to send 1+ requests using NodeJS v.14+ (I tested on v.14.17.0, v.14.19.1, v.16.17.0, ubuntu, macos), my application terminates with exit status 0 (like using `process.exit(0);`) without any errors.

The problem is like in thi

[2022-08-24 20:03] danilvalov commented on #139
I fixed it changing this library to [node-http-proxy-agent](https://github.com/TooTallNate/node-http-proxy-agent).
But this library worked correctly with http proxy until NodeJS 12 inclusive

[2022-08-24 20:03] #139 closed

[2022-08-28 13:40] yovanoc commented on #126
problem too with node 18

[2022-10-02 17:38] jfrenl commented on #12
How to make it that it could use a txt file.

[2022-10-09 14:57] yinxulai commented on #126
Even after installing to 6.0.2 there is still a problem

[2022-10-27 20:19] swherden commented on #136
Any update on that issue? Can't use proxy-store proxies

[2022-11-10 15:58] tex0l commented on #89
I found out that it doesn't work anymore since v5 because `HttpsProxyAgent` is actually not a proper class, it is a function that returns an instance of the class, therefore it cannot be extended anymore through ES6 the `extends` keyword. See https://github.com/TooTallNate/node-https-proxy-agent/blob/d0d80cc0482f20495aa8595f802e1a9f3b1b3409/src/index.ts#L8

The workaround I found is to import the

[2022-11-14 01:03] dscalzi commented on #89
@tex0l I would recommend using https://github.com/delvedor/hpagent over relying on a non reliable hack with this one.